* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;;
  margin: 10px;
}

.flex-container-vertical {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.home-card {
  position: relative;
  margin: 5px;
  flex: 1 1 250px;
}

.home-card-image {
  object-fit: cover;
  width: 100%;
  height: 60%;
}

.home-card-body {
  position: relative;
  padding: 5px;
}

.home-card-title {
  font-weight: bold;
}

.home-card-type {
  color: gray;
  font-size: 0.8em;
}

.home-card-cost {
  padding: 0 20px 0 0;
}

.host-name {
  padding: 0 10px 0 0;
  font-size: 0.8em;
}

.superhost {
  font-size: 0.8em;
  font-style: italic;
}

.rating {
  font-size: 0.9em;
}

.rating-stars {
  color: teal;
  padding: 0 5px 0 0;
}

.home-card-button {
  height: 30px;
  width: 60px;
  outline: none;
  color: white;
  background-color: rgb(255, 90, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px gray;
  cursor: pointer;
}

.home-card-button:active {
  background-color: rgb(223, 60, 71);
  box-shadow: 1px 1px darkgray;
  transform: translateY(2px);
}

.home-card-button:disabled {
  background-color: gray;
  box-shadow: 1px 1px darkgray;
  transform: translateY(2px);
  cursor: auto;
}

.cart-item {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 5px;
}

.cart-item:hover {
  background-color: aliceblue;
}

.cart-item-type {
  color: gray;
  font-size: 0.8em;
}

.cart-item-cost {
  float: right;
}

.cart-item-button {
  outline: none;
  color: white;
  background-color: rgb(255, 90, 95);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.cart-item-button:active {
  background-color: rgb(223, 60, 71);
}

.hidden {
  display: none;
}

.shopping-cart-total {
  padding: 10px;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}